version: "3.9"

services:
  db:
    image: postgres:15
    container_name: mygamelist_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    container_name: mygamelist_app
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DATABASE_URL: ${DATABASE_URL}
      RAWG_KEY: ${RAWG_KEY}
    env_file:
      - .env
    volumes:
      - .:/app

volumes:
  pgdata:
